{% extends 'index.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $("#FD").hide();
    $("#AddButton").hide();
    $("#SeedName").hide();
    $("#Remaining").hide();
    $("#pallete_nameID").on('change', function(){
        $.ajax({
           data:{
            Request_ID:"1",
            pallete_name:$('#pallete_nameID').val()
           },
           type: 'POST',
           url:'/admin/germination/AJAX' 
        }).done(function(result){
            if(result.error){
                alert('Error');
            }
            else{
                console.log(result);
                    $("#FD").show();
                    $("#FD").val(result.result.Pallete_Name).attr("readonly",true);
                    $("#input_Pallete").val(result.result.Pallete_Name).attr("readonly",true);
                    
                    $("#SeedName").show();
                    $("#SeedName").val(result.result.Seed_Name).attr("readonly",true);
                    $("#Remaining").show();
                    $("#Remaining").val(result.result.Remaining).attr("readonly",true);
                    $("#AddButton").show();
            }
        });
        event.preventDefault();
    })
})
</script>


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Germination Sapling</h1>
     </div>

     {% include 'admin/notifications.html' %}

<div class="container-fluid">
    <form method="POST" action="{{ url_for('admin.germination_sapling')}}">
    <div class="row">
        <div class="col-sm-3 pb-2">
            <select class="custom-select" name="pallete_name" id="pallete_nameID">
                <option value="0">Select Pallete</option>
                {% for x in data %}
                    <option value="{{ x['PN'] }}">
                        {{ x['PN'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
            <div class="col-sm-3 pb-2">
                <input type="text" id="FD" class="form-control" placeholder="Cavity">
            </div>
            <div class="col-sm-3 pb-2">
                <input type="text" id="SeedName" class="form-control" placeholder="SeedName">
            </div>
            <div class="col-sm-3 pb-2">
                <input type="text" id="Remaining" class="form-control" placeholder="Remaining">
            </div>
    </div>
</div>

<div class="container-fluid">
    <button type="button" class="btn btn-primary btn-block col-sm-1" data-toggle="modal" data-target="#AddData" id="AddButton">Add</button>
</div>

<div class="modal fade" id="AddData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Sapling</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Pallete Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="pallete_name" id="input_Pallete">
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="input_system" class="col-sm-2 col-form-label">System Name</label>
                    <div class="col-sm-10">
                         <select class="custom-select" name="system_name" id="system_nameID">
                            <option value="0">Select Systems</option>
                            {% for x in system %}
                                <option value="{{ x['GSID'] }}">
                                    {{ x['System_Name'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mediumID" class="col-sm-2 col-form-label">Medium</label>
                    <div class="col-sm-10">
                         <select class="custom-select" name="medium" id="mediumID">
                            <option value="0">Select Systems</option>
                            {% for x in medium %}
                                <option value="{{ x['GMID'] }}">
                                    {{ x['Medium_Name'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_system" class="col-sm-2 col-form-label">Netpod</label>
                    <div class="col-sm-10">
                        <select class="custom-select" name="netpod" id="mediumID">
                            <option value="0">Select Netpod</option>
                            <option value="Small">Small</option>
                            <option value="Big">Big</option>
                        </select>
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="input_system" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                       <input type="text" class="form-control" name="description" placeholder="Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_system" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                       <input type="text" class="form-control" name="quantity" placeholder="Quantity" value="0" required>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitID" name="save" class="btn btn-primary">Save changes</button>
        
      </div>
    </form>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Pallete Name</th>
            <th scope="col">Grow Channel</th>
            <th scope="col">Grow System</th>
            <!-- <th scope="col">Update</th>
            <th scope="col">Delete</th> -->
            </tr>
        </thead>
        <tbody>
            {% for x in Inserted_data %}
                <tr>
                    <td>
                      {{ x['Pallete_Name'] }}
                    </td>
                     <td>
                      {{ x['Medium_Name'] }}
                    </td>
                    <td>
                        {{ x['System_Name'] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    <div class="container-fluid">
        <button type="button" class="btn btn-success float-right mr-5">Save</button>
    </div>
</div>

{% endblock %}