{% extends 'index.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Germination</h1>
      <!-- <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus fa-sm "></i> Add Sensors</button> -->
    </div>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          
          {% for category, message in messages %}
            {% if category.lower() == "success" %}
            <div class="alert alert-success" role="alert">
              {{ category }} {{ message }}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
              {{ category }} {{ message }}
            </div>
            {% endif %}
          {% endfor %}
          
        {% endif %}
      {% endwith %}
    </div>
    <form method="POST" action="{{ url_for('admin.germination_scr') }}">
        <div class="form-row">
          <div class="form-group col-md-">
            <label for="inputEmail4">Attempt Name</label>
            <input type="text" name="attemptname"class="form-control" id="inputEmail4">
          </div>
       </div>
       <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Location">Location</label>
            <input type="text" id="Location" name="location" class="form-control" id="Location">
          </div>
        </div>
       <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Tags">Tags</label>
            <input type="text" id="Tags" name="tags" class="form-control" id="Tags">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>
<script>
  function add()
  {
    var ss = document.getElementById("ss").value;
    var us = document.getElementById("us").value;
    var sum = parseInt(ss)+parseInt(us);
    // alert(ss);
    var display_value = document.getElementById('total');
    display_value.value=parseInt(sum);
  }
  var x = document.getElementById("demo");




</script>
{% endblock %}