{% extends 'index.html' %}
{% block content %}

<div class="container-fluid">
  <!-- {{ data }} -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Palletes</h1>
      <!-- <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus fa-sm "></i> Add Sensors</button> -->
</div>

{% include 'admin/notifications.html' %}

<div class="container-fluid">
<form method="POST" action="{{ url_for('admin.palletes') }}">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-1 col-form-label">Name</label>
    <div class="col-sm-3">
      <input type="text" name="name" class="form-control" >
    </div>
     <label for="inputPassword" class="col-sm-1 col-form-label">Nos. Cavities</label>
    <div class="col-sm-3">
      <input type="text" name="no_of_cavities" class="form-control" id="inputPassword">
    </div>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
  
</form>
</div>
{% endblock %}